.dark{
    background-color: #282c34;
    display: flex;
    height: 100%;
}

.menu_class{
    color: white;
    margin: 1rem;
    position: fixed;
    top: 0;
    display: none;
    left: 4px;
}

.screen{
    width: 100%;
}

.ant-btn-primary{
    background-color: #727c90!important;
    color: white!important;
    border: 1px solid black;
}
.ant-modal-content{
    background-color: #727c90!important;
    color: white!important;
}
.ant-modal-title{
    background-color: #727c90!important;
    color: white!important;
}
.ant-modal-mask{
    background-color: #00000099!important;
}
@media (max-width:670px) {
    .menu_class{
        display: block;
    }
}